# IDE files
*.iml
/.idea

# Gradle
.gradle
**/build/

# Local configuration
/local.properties

# Android captures
/captures
.externalNativeBuild
.cxx

# OS files
.DS_Store

# Build outputs (добавляем для APK/AAB)
*.apk
*.aab
*.dm
output-metadata.json

# Baseline profiles
baselineProfiles/